:root{
    --color_primario: #FFF2F2;
    --color_secundario: #8EA7E9;
    --color_auxiliar: #E5E0FF;
    --color_texto: #7286D3;
}

body{
    background-color: var(--color_primario);
    font-family: 'Krub', sans-serif;
    color: var(--color_texto);
}