:root{
    --color_primario: #FFF2F2;
    --color_auxiliar: #E55604;
    --color_texto: #7286D3;
}

body{
    background-color: var(--color_primario);
    font-family: 'Krub', sans-serif;
    color: var(--color_texto);
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

hr{
    border-color: var(--color_auxiliar);
    width: 50%;
    height: 5px;
    background-color: var(--color_auxiliar);
    border-radius: 10px;
}

section h2{
    font-size: 30px;
    
}

li,p, a{
    font-size: 20px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}
