:root{
    --color_primario: #FFF2F2;
    --color_secundario: #8EA7E9;
    --color_auxiliar: #6E85B7;
    --color_texto: #7286D3;
}

body{
    background-color: var(--color_primario);
    font-family: 'Krub', sans-serif;
    color: var(--color_texto);
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

hr{
    border-color: var(--color_auxiliar);
}
