*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color:darkgreen;
    height: 100px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    width: 290px;
}

ul{
    list-style-type: none;
}

.menu-item{
    padding: 25px;
    color: white;
    text-transform: uppercase;
    border: 2px solid black;
    background-color: rgba(82, 41, 0, 0.845);
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
}

button{
    background-color:green;
    color: white;
    width: 220px;
    height: 60px;
    font-size: 22px;
    border: 3px solid rgb(88, 139, 12);
    border-radius: 10px;
}

header{
    height: 650px;
    background: url(img/Minecraft.jpg);
    background-size:cover;
    backdrop-filter: blur(10px);

}

.cuadritos{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo{
    color: rgb(78, 76, 66);
    font-size: 30px;
    text-align:left;
    position: relative;
    left: 170px;
    width: 500px;
}

.nombre{
    color: rgb(78, 76, 66);
    text-align:left;
    position: relative;
    left: 250px;
    bottom: 30px;
    font-size: 25px;
}

.textito{
    color: rgb(78, 76, 66);
    font-size: 50px;
    text-align:left;
    position: relative;
    left: 170px;
    bottom: 30px;
    width: 700px;
}

.infor{
    color: rgb(78, 76, 66);
    text-align:left;
    position: relative;
    left: 170px;
    width: 550px;
    font-size: 20px;
    bottom: 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botoncito{
    width: 300px;
    height: 80px;
    color: white;
    margin: 40px;
    position: relative;
    left: 130px;
    bottom: 100px;
    
}
